@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

* {
  margin: 0;
  font-family: "Tektur";
}

.navBar {
  padding: 20px ;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px  solid black;
}

.navBar h1 {
  color: red;
}

.navBar .links {
  margin-left: auto;
}
.navBar a {
  margin-left: 15px ;
  padding: 2px;
  text-decoration: none;
}
.navBar a:hover {
  color: brown;
}
.content {
  max-width: 600px; 
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px; 
  margin: 20px 0;
  border-bottom: 1px solid black;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0, 0.1);
}

.blog-preview h2 {
  color: red;
  margin-bottom: 8px;
  font-size: 20px;
}